<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="fediverse:creator" content="@Schwenckenator@aus.social">
    <link rel="stylesheet" href="/css/pico.jade.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/code.css">
    <title>Schwenckenator.dev</title>
</head>

<body>
    <header>
        <hgroup class="container">
            <h4>
                Schwenckenator.dev
            </h4>
            <p>
                Thoughts on personal projects, neovim, languages, and anything else that crosses my mind
            </p>
        </hgroup>
        <nav class="container">
            <ul class="short-li">
                <li><a href="/" class="secondary">Home</a></li>
                <li><a href="https://github.com/Schwenckenator/my-blog" class="secondary">Repo</a></li>
                <li><a href="/rss.xml" class="secondary">RSS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container">
            {{ #each pages }}
            <article>
                <hgroup>
                    <div class="grid">
                        <h4>
                            <a class="contrast" href="/{{ slug }}">
                                {{ title }}
                            </a>
                        </h4>
                        <p class="to-end">{{ publish_date }}</p>
                    </div>
                    <p>
                        <small>
                            {{ description }}
                        </small>
                    </p>
                </hgroup>
                {{ #if tags }}
                <footer>
                    {{ #each tags }}
                    <code>#{{ . }}</code>
                    {{ /each tags }}
                </footer>
                {{ /if tags }}
            </article>
            {{ /each pages }}
        </section>
    </main>
    <footer class="container">
        <div>
            Find me elsewhere!
        </div>
        <section>
            <nav>
                <ul>
                    <li><a href="https://github.com/Schwenckenator/">GitHub</a></li>
                    /
                    <li><a href="https://bsky.app/profile/schwenckenator.bsky.social">Bluesky</a></li>
                    /
                    <li><a rel="me" href="https://aus.social/@Schwenckenator">Mastodon</a></li>
                </ul>
            </nav>
        </section>
    </footer>
</body>

</html>
