<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.jade.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/code.css">
    <title>Schwenckenator.dev</title>
</head>

<body>
    <header>
        <hgroup class="container">
            <h4>
                Schwenckenator.dev
            </h4>
            <p>
                Thoughts on personal projects, neovim, languages, and anything else that crosses my mind
            </p>
        </hgroup>
        <nav class="container">
            <ul class="short-li">
                <li><a href="/" class="secondary">Home</a></li>
                <li><a href="https://github.com/Schwenckenator/my-blog" class="secondary">Repo</a></li>
                <li><a href="/rss.xml" class="secondary">RSS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container">
            <h1>{{ title }}</h1>
            <p>
                {{ #each tags }}
                <code>#{{ . }}</code>
                {{ /each tags }}
            </p>
            <section>
                {{ #if prev_href }}
                <a href="{{ prev_href }}">← {{ prev_title }}</a>
                {{ /if prev_href }}
                <span style="margin: 0 10px;"> | </span>
                {{ #if next_href }}
                <a href="{{ next_href }}">{{ next_title }} →</a>
                {{ /if next_href }}
            </section>
            <section>
                <em>Published: {{ publish_date }}</em>
            </section>
            <hr>
            {{ content }}
        </section>
    </main>
    <footer class="container">
        <div>
            Find me elsewhere!
        </div>
        <section>
            <nav>
                <ul>
                    <li><a href="https://github.com/Schwenckenator/">GitHub</a></li>
                    /
                    <li><a href="https://bsky.app/profile/schwenckenator.bsky.social">Bluesky</a></li>
                    /
                    <li><a href="https://aus.social/@Schwenckenator">Mastodon</a></li>
                </ul>
            </nav>
        </section>
    </footer>
    <script type="text/javascript" src="/js/prism.js"></script>
</body>

</html>
