body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--pico-background-color);
}

main {
    flex: 1;
}

header {
    background-color: var(--pico-card-background-color);
}

.flex-container {
    display: flex;
}

.centre {
    align-content: center;
}

.flex-grow {
    flex: 1 0 auto;
}

.flex-shrink {
    flex: 0 1 auto;
}
